/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../storybook";

/* Pull in classes from the code in the daisy_ui_components/lib dir: */
@source "../../../lib/";


/* Use the following if you're using the github (rather than local) daisy_ui_components: */
/* @source "../../deps/daisy_ui_components"; */

@plugin "../vendor/heroicons";
@plugin "../vendor/daisyui";

@import "../../../assets/css/daisy_ui_colors.css";

@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/*
 * Make LiveView wrapper divs transparent for layout.
 * This makes it possible to use LiveViews as flex children for example.
 */
[data-phx-root-id] {
  display: contents;
}

/* This file is for your main application CSS */

@layer utilities {
  * {
    font-family: system-ui;
  }
}
